@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}
nav{
    background: rgb(104, 71, 210);
    overflow-x: hidden;
}
.navbar-brand img{
    width: 50px;
    height: auto;
}
.navbar-brand{
  display: flex;
  align-items: center;
}
.login{
    justify-content: end;
   
}
.landing img{
    width: 100%;
    height: auto;
}
.landing{
   padding: 100px 0;
   background: rgb(104, 71, 210);
   overflow-x: hidden;
}
.landing h1{
    color: #fff;
}
h1{
    font-weight: 900;
    font-size: 70px;
}
.landing button{
    border-radius: 0%;
}
.activity{
    background-image: linear-gradient(rgb(177, 230, 248), rgb(255, 255, 255));
    overflow-x: hidden;
}
.activity .container{
    padding: 100px 0;
    box-sizing: border-box;
    
}
.activity .card{
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  border: none;
  border: 1px solid rgb(122, 122, 122);
}
.activity .card:hover{
    border: 1px solid rgb(50, 90, 222);
    transition: all 0.3s ease;
}
.activity i{
    font-size: 5rem;
    margin: 20px 0;
    color: rgb(18, 246, 105);
}
.services{
    background-image: linear-gradient(rgb(177, 230, 248), rgb(255, 255, 255));
    overflow-x: hidden;
}
.services .container{
    padding: 100px 0;
}
.services .card{
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgb(122, 122, 122);
}
.services i{
  width: 100px;
  height: 100px;
  border-radius: 50%;
   text-align: center;
   background:  rgb(18, 246, 105);
   color: #fff;
   font-size: 40px;
   padding: 10px;
   display: flex;
   justify-content: center;align-items: center;
}

.services .card-body{
    margin-top: 10px;
    padding-right: 100px;
    color: rgb(104, 103, 103);
}
.services .card:hover{
    border: 1px solid rgb(50, 90, 222);
    transition: all 0.3s ease;
}
.reffer{
    background-image: linear-gradient(rgb(177, 230, 248), rgb(255, 255, 255));
    overflow-x: hidden;
}
.reffer .container{
    padding: 100px 0;

}
.reffer .card{
    text-align: center;
    padding: 50px 100px;
    border: none;
    background:  rgb(13, 93, 78);
    color: #fff;
    border-radius: 30px;
}
.reffer h2{
    font-weight: 700;
    margin: 20px 0;

}
.reffer .card:hover{
    border: 1px solid rgb(50, 90, 222);
    transition: all 0.3s ease;
}
.reffer a{
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0%;
}


.installapp{
    background-image: linear-gradient(rgb(177, 230, 248), rgb(255, 255, 255));
    overflow-x: hidden;
}
.installapp .container{
    padding: 100px 0;

}
.installapp .card{
    text-align: center;
    padding: 50px 100px;
    border: none;
    background:  rgb(6, 69, 102);
    color: #fff;
    border-radius: 30px;
}
.installapp h2{
    font-weight: 700;
    margin: 20px 0;

}
.installapp .card:hover{
    border: 1px solid rgb(50, 90, 222);
    transition: all 0.3s ease;
}
.installapp a{
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0%;
}
.footer{
    background: rgb(11, 11, 43);
    color: #fff;
    overflow-x: hidden;
}
.footer .container{
    padding: 100px 0;
}

.footer .card{
    background: transparent;
}
.footer h5 img{
    width: 65px;
    height: auto;
}
.footer .card-title{
    font-weight: bold;
}
.footer li{
    list-style: none;
}
.footer ul{
    padding:0;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer .copyright ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   padding-bottom: 5px;
}

.testimonialcontainer{
    background-image: linear-gradient(rgb(177, 230, 248), rgb(255, 255, 255));
    overflow-x: hidden;
}
.testimonialcontainer .container{
    padding: 100px 0;
}

.testimonial{
    border-right: 4px solid #2A3D7D;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 30px 130px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.testimonial:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid #29D18B;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
}
.testimonial:after{
    content: "";
    position: absolute;
    top: -4px;
    left: -17px;
    border-top: 25px solid #29D18B;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(135deg);
}
.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    letter-spacing: 1px;
    color: #6f6f6f;
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial .title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #29D18B;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 17px;
    color: #29D18B;
    font-style:italic;
}
/* login form css */
.login{
    height: 80vh;
    display: flex;
    align-items: center;
    width: 100%;
    top: 100px;
}
.login .row{
    display: flex;
   align-items: center;
    flex-direction: column;
}
.login .social{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 5px;
    margin-top: 20px;
}
.login .social i{
    margin: 0 5px;
}
.login .g{
    background: crimson;
    color: #fff;
}
.login .tw{
    background: rgb(45, 122, 211);
    color: #fff;
}
.login .fb{
    background: rgb(79, 28, 231);
    color: #fff;
}
.login .forgot{
    cursor: pointer;
}
.login .forgot:hover {
    color: rgb(50, 50, 230);
    transition: all 0.3s ease;
}
.login .btn-center{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .form_container{
    padding: 20px 10px ;
    border-radius: 3px;
}
.about_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}
.about_card h2{
    font-weight: 700;
    margin: 10px 0;
}
.about_card .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_content{
    padding: 20px 0;
}

.about_card img{
    width: 100%;
    height: auto;
    
}

.contact .contact_card{
  display: grid;
  grid-template-columns: 25% 75%;
}
.social_icon{
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   padding-bottom: 50px;
   
}
.social_icon a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
   width: 120px;
   height: 80px;
   font-size: 15px;

}
.social_icon a i{
    font-size: 25px;
}
.contact .row{
    padding-top: 70px;
}
.team .team_card{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.team_card .img{
    padding-bottom: 30px;
}
.team .row{
    padding-top: 20px;
}
.team_card h2{
    font-weight: 700;
}
.team_card img{
    width: 100%;
    height: auto;
}
.team .cards .card{
    margin-bottom: 20px;
    background: rgb(239, 238, 238);
    border-radius: 10px;
    text-align: center;
}
.team .card .social{
    display: flex;
    justify-content: center;
}
.team .card .social a{
    margin: 0 5px;
}
.team .card .img{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.team .card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.team .card img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/* responsive code start */
/* Extra small devices (phones, 600px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1440px) {
    .login{
        margin-top: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1204px) {
  h1{
        font-size: 50px;
    }
    .services .card{
        padding: 10px;
        margin-top: 20px;
    }
    .activity .card{
        margin-top: 20px;
    }
    .reffer .card{
        padding: 30px 50px;
    }
    .installapp .card{
        padding: 30px 50px;
    }
    .login{
        top: 200px;
    }
    .about_card{
        margin-top: 0;
       }
}
@media only screen and (max-width: 1071px){
    .about_card{
        grid-template-columns: 100%;
    }
    .about_card .img{
        width: 100%;
    }
    .about_card img{
        width: 100%;
    }
    .about_card{
        margin-top: 0;
       }
}
@media only screen and (max-width: 997px){
    .team .team_card{
        padding-top: 50px;
        display: grid;
        grid-template-columns: 100%;
    }
    
}
@media only screen and (max-width: 816px){
    .contact .contact_card{
        display: grid;
        grid-template-columns: 100%;
      }
      .social_icon{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
     }
     .social_icon a{
        font-size: 13px;
        padding: 5px 2px;
        height: 50px;
     }
     .social_icon a i{
        font-size: 15px;
     }
     .team .team_card{
        padding-top: 20px;
       }
}
@media only screen and (max-width: 600px) {
    h1{
        margin: 0;
        font-size: 30px;
    }
    .reffer .card{
        padding: 10px 5px;
    }
    .installapp .card{
        padding: 10px 5px;
    }
    .activity{
        padding: 0 10px;
    }
    .activity .container{
        padding: 20px 0;
        box-sizing: border-box;
        
    }
    .services{
        padding: 0 10px;
    }
    .services .card {
        padding: 10px;
    }
    .services .container{
        padding: 20px 0;
        box-sizing: border-box;
        
    }
    .reffer{
        padding: 0 10px;
    }
    .reffer .container{
        padding: 20px 0;
        box-sizing: border-box;
        
    }
    .installapp{
        padding: 0 10px;
    }
    .installapp .container{
        padding: 20px 0;
        box-sizing: border-box;
        
    }
    .testimonialcontainer{
        padding: 0 10px;
        width: 100%;
    }
    .testimonialcontainer .container{
        padding: 20px 0;
    }
    .testimonial{
        margin: 0;
        padding: 12px;
        position: relative;
    }
    .testimonial .pic{
        max-width: 80px;
        max-height: 80px;
        border-radius: 50%;
        position: static;
        position: sticky;
        left: 30%;
        top: 10px;
        margin-bottom: 10px;
        
    }
    .testimonial .pic img{
        width: 100%;
        height: auto;
    }
    .testimonial .title{
        margin-left: 10px;
    }
    .footer a{
        font-size: 12px;
    }
    .services .card-body{
        padding-right: 10px;
    }
    .login .social{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
        margin-top: 20px;
    }
    .login{
       top: 200px;
    }
    .login .form_container{
        border: none;
    }
   .about_card{
    margin-top: 0;
   }
   .team_card.img{
    margin-top: 100px;
    padding: 0;
   }
   .team .team_card{
    padding-top: 20px;
   }
}